.Ext_dukaan {
    font-size: 2rem;
    font-weight: 600;
}

.Existing_Dukaans {
    margin-top: 26px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 70px;
    height: auto;
    margin-bottom: 26px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 8px;
    justify-content: space-between;
}

.Existing_Dukaan {
    width: 100%;
    background-color: #494949;
}

.Existing_Dukaan_logo {
    width:100%;
    object-fit: contain;
    height: 400px;
}

.Add_product_sextion {
    margin: 32px 0px;
}

.Exiting_dukan_name {
    font-size: 2.3rem;
    font-weight: 600;
    padding: 7px;
    background-color: #494949;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputUserName{
    color: black !important;
}

.DialogBody{
    display: flex;
    align-items: center;
    justify-content:space-between ;
}

.dialog_user_profile{
    object-fit: contain;
    width: 100px;
    height: 100px;
}

.DialogBodyRight{
    color: black !important;
}
.DialogBodyRight p{
    color: black !important;
}
.inputUserName{
    color: black !important;
}
input#filled-search {
    color: black !important;
}

.MuiListItemText-root span, .MuiListItemText-root input{
    color: black !important;
}

.formControl{
    padding-left: 20px;
    width: 100%;
}

.css-zun73v{
    background-color: rebeccapurple;
    margin-right: 18px;
}
.css-zun73v:hover{
    background-color:rgb(112, 79, 145) ;
}

.Exiting_dukan_name{
    padding-bottom: 22px;
    background-color: #494949;
}

