.dukaan_Home{
    display: grid;
    grid-template-columns: 45% 45% ;
    justify-content: space-between;
    margin-top: 32px;
}

.share_store_link,.store_total_sales,.store_views{
    background-color: #424242;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.share_store_link_text{
    color: white;
    font-size: 1.5rem;
    word-spacing: 4px;
    margin-bottom: 6px;
}

.share_store_link_text2{
    color: #c1c1c1;
    font-size: 1.1rem;
    margin-bottom: 8px;
}

.dukan_Link{
    color: white;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 8px;
    transition-duration: 220ms;
}

.dukan_Link:hover{
    color: rgb(168, 131, 203);
}

.share_dukaan{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

.welcome_back{
    margin-bottom: 22px;
}

.Total_sales{
    font-size: 22px;
}
.Overview{
    font-size: 1.4rem;
    font-weight: 600;
}

.dukaan_details_body{
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: space-between;
    align-items: center;

}

.img_logo_dukaan{
    object-fit: contain;
    height: 120px;
    width: 120px;
}

span.dukaan_name {
    font-size: 1.2rem;
    font-weight: 600;
}

.dukaan_info p{
    margin-bottom: 8px;
}

span.dukaan_name-value {
    font-size: 1.3rem;
    margin-left: 6px;
    color: white;
    text-decoration: underline;
    letter-spacing: 2px;
}

.Dukaan_previous_Data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
}

.userDetails{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.dukan_log_imgg{
    object-fit: contain;
    height: 300px;
    width: 300px;
}

.user_Data{
    background-color: #424242;
    padding: 32px;
    border-radius: 8px;
}

.home_hdr{
    display: flex;
    align-items: center;
    justify-content: space-between;
}