
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
   
}

.orders-body{
    margin-top: 32px;
    height: 500px;
    overflow: auto;
}

.Table_header{
    position: sticky;
    z-index: 99;
    top: 0px;
}
.content-table thead tr {
    background-color: #2c2c2c;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    position: sticky;
    top: 0;
  
}


.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #525252;
}



.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.orders_text{
    font-size: 1.4rem;
    font-weight: 600;
    color: #dddddd;
}